@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  height: 4em;
}

.nav-item:hover {
  background: cadetblue;
}

.nav-link:hover {
  color: white !important;
}

.nav-brand {
  font-family: "Bangers", cursive;
  font-size: 2em !important;
}

.book-card {
  min-width: 16vw;
  max-width: 16vw;
  border: none;
  border-radius: 0 !important;
}

.book-card-collpase-button,
.cart-quantity-minus-button,
.cart-quantity-plus-button,
.book-card-title {
  cursor: pointer;
}

.book-card-title:hover {
  text-decoration: underline;
}

.cart-quantity-minus-button:hover,
.cart-quantity-plus-button:hover {
  opacity: 0.5;
}

.book-card-image {
  cursor: pointer;
  border-radius: 0 !important;
}

.book-card-image:hover {
  opacity: 0.5;
}

.genre-select {
  max-width: 14vw;
}

.cart-image,
.book-image {
  width: 100%;
  height: auto;
}

.cart-quantity-button {
  font-size: 1.1rem;
}

.disabled-button {
  opacity: 0.5;
  cursor: pointer;
}

.cart {
  overflow-y: scroll;
  height: 80vh;
  width: 100%;
  padding: 0px 10px 0px 0px;
}

.cart::-webkit-scrollbar {
  display: none;
}

.add-to-cart-button {
  color: black;
  border-radius: 0 !important;
}

.cart-empty-alert {
  border-radius: 0 !important;
}

.books-carousel {
  background-color: #124d6c;
  padding: 28px 0px 10px 0px;
}

.book-carousel-image,
.book-card-title {
  cursor: pointer;
}

.book-card-title:hover,
.show-password:hover {
  text-decoration: underline;
}

.error-text {
  color: red;
}

.logout-alert-toast {
  position: absolute;
  top: 4.4em;
  right: 1em;
  z-index: 1;
}
