.book-card {
  min-width: 13vw;
  max-width: 13vw;
  border: none;
}

.book-card-collpase-button,
.cart-quantity-minus-button,
.cart-quantity-plus-button,
.book-card-title {
  cursor: pointer;
}

.book-card-title:hover {
  text-decoration: underline;
}

.cart-quantity-minus-button:hover,
.cart-quantity-plus-button:hover {
  opacity: 0.5;
}

.book-card-image {
  cursor: pointer;
}

.book-card-image:hover {
  opacity: 0.5;
}

.genre-select {
  max-width: 20vw;
}

.cart-image,
.book-image {
  width: 100%;
  height: auto;
}

.cart-quantity-button {
  font-size: 1.1rem;
}

.disabled-button {
  opacity: 0.5;
  cursor: pointer;
}

.cart {
  overflow-y: scroll;
  height: 80vh;
  width: 100%;
  padding: 0px 10px 0px 0px;
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart-item {
  padding: 0px 0px 0px 0px;
}

.add-to-cart-button {
  color: black;
  border-radius: 0 !important;
}
