@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap");

:root {
  --navItemColor: cadetblue;
  --addToCartButtonColor: #c0c0c0;
  --textBlack: #4d4e4e;
  --textBlackDarker: #303030;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  height: 4em;
}

.navbar .nav-item:hover {
  background: var(--navItemColor);
}

.navbar .nav-link:hover {
  color: white !important;
}

.navbar .nav-brand {
  font-family: "Bangers", cursive;
  font-size: 2em !important;
}

.book-card {
  min-width: 16vw;
  max-width: 16vw;
  border: none;
  border-radius: 0 !important;
}

.book-card-collpase-button,
.cart-quantity-minus-button,
.cart-quantity-plus-button,
.book-card-title {
  cursor: pointer;
}

.book-card-title:hover {
  text-decoration: underline;
}

.cart-quantity-minus-button:hover,
.cart-quantity-plus-button:hover {
  opacity: 0.5;
}

.book-card-image {
  cursor: pointer;
  border-radius: 0 !important;
  opacity: 0.7;
}

.book-card-image:hover {
  opacity: 1;
}

.card-body {
  background-color: #f8f3f3;
  letter-spacing: 0.6px;
}

.genre-select {
  max-width: 14vw;
}

.cart-image,
.book-image {
  width: 100%;
  height: auto;
}

.cart-quantity-button {
  font-size: 1.1rem;
}

.disabled-button {
  opacity: 0.5;
  cursor: pointer;
}

.cart {
  overflow-y: scroll;
  height: 80vh;
  width: 100%;
  padding: 0px 10px 0px 0px;
}

.cart::-webkit-scrollbar {
  display: none;
}

.add-to-cart-button {
  border-color: var(--addToCartButtonColor) !important;
  border-radius: 0 !important;
}

.add-to-cart-button:hover {
  border-color: var(--addToCartButtonColor) !important;
  border-radius: 0 !important;
  background-color: var(--addToCartButtonColor) !important;
}

.add-to-cart-button:active,
.add-to-cart-button:focus {
  border-color: var(--addToCartButtonColor) !important;
  box-shadow: none !important;
}

.cart-empty-alert {
  border-radius: 0 !important;
}

.books-carousel {
  background-color: #1483cd;
  padding: 28px 0px 10px 0px;
}

.book-carousel-image,
.book-card-title {
  cursor: pointer;
}

.carousel-book {
  box-sizing: border-box;
}

.text-black {
  color: var(--textBlack) !important;
}

.book-card-title:hover,
.show-password:hover {
  text-decoration: underline;
}

/* Login signup error text */
.error-text {
  color: red;
}

.logout-alert-toast {
  position: absolute;
  top: 4.4em;
  right: 1em;
  z-index: 1;
}

.profile-picture {
  width: 80%;
  border-radius: 100%;
}

.profile-tabs-links {
  width: 100%;
}

.profile-tab {
  padding: 5px 0 5px 8px !important;
  border-radius: none !important;
}

.profile-tab.active {
  background-color: var(--navItemColor) !important;
}

.profile-tab {
  color: var(--textBlack);
}

.profile-tab:hover {
  color: var(--textBlackDarker);
}

.profile-detail {
  padding: 20px 20px;
  box-sizing: border-box !important;
  font-size: 0.9em;
}

.purchase-history-table {
  font-size: 0.9em;
}

.purchase-history-table-img {
  width: 60%;
  min-width: 90px;
}

.purchase-history-table-container .btn.active {
  background-color: var(--navItemColor) !important;
  border-color: var(--navItemColor) !important;
}

.purchase-history-table-container .btn {
  font-size: 0.9em;
  background-color: rgb(85, 139, 141) !important;
  border-color: rgb(85, 139, 141) !important;
}

.purchase-history-table-container .btn:active,
.purchase-history-table-container .btn:focus {
  box-shadow: none !important;
}

.purchase-history-search-bar {
  height: 0.9em;
}

.clear-search-button {
  color: white !important;
}

.purchase-history-table-container table {
  table-layout: auto !important;
}

.purchase-history-table-container .pagination {
  float: right;
  font-size: 0.9em;
}

.purchase-history-table-container .pagination li.active a {
  background-color: var(--navItemColor) !important;
  border-color: var(--navItemColor) !important;
}

.purchase-history-table-container .pagination li a {
  color: var(--textBlack);
}

.purchase-history-table-container .pagination li:focus {
  box-shadow: none !important;
}

.react-bootstrap-table-pagination-total {
  font-size: 0.9em;
}

.modal-close-button {
  position: absolute;
  right: 17px;
  top: 15px;
}
